sudo: true
dist: trusty
language: php

php:
    - 5.6
    - 7.0
    - 7.1
    - hhvm

matrix:
    allow_failures:
        - php: hhvm

before_script:
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction
    - sudo apt-get -y install r-base
    - sudo su - -c "R -e \"install.packages('http://cran.r-project.org/src/contrib/Archive/sp/sp_1.2-7.tar.gz', repos = NULL, type='source')\""
    - sudo su - -c "R -e \"install.packages('geosphere', repos = 'http://cran.rstudio.com/')\""

script:
    - make travis

after_success:
    - if [[ $TRAVIS_PHP_VERSION != "hhvm" ]]; then bash <(curl -s https://codecov.io/bash); fi

cache:
    directories:
        - $HOME/.composer/cache
